@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.wrapper {
	width: 966px;
	padding: 0 48px 0 46px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.logo {
	display: block;
	text-decoration: none;
}
.logo img {
	width: 145px;
	height: 40px;
	margin: 54px 0 36px 0;
}
nav {
	margin: 0;
	padding: 0;
	list-style: none;
	background-image: none;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#444343+0,5e5e5e+100 */
	background: #444343; /* Old browsers */
	background: -webkit-linear-gradient(left, #444343 0%, #5e5e5e 100%);
	background: -o-linear-gradient(left, #444343 0%, #5e5e5e 100%);
	background: linear-gradient(to right, #444343 0%, #5e5e5e 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444343', endColorstr='#5e5e5e',GradientType=1 ); /* IE6-9 */
}

nav li {
	display: inline-block;
	padding: 0 33px 0 0;
}
nav li a {
	display: block;
	text-decoration: none;
	font-size: 14.67px;
	color: #fff;
	padding: 0 25px 0 25px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	line-height: 40px;
}
nav li a:hover {
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
	background: #2e2e2e; /* Old browsers */
	background: -webkit-linear-gradient(left, #2e2e2e 0%, #4a4a4a 100%);
	background: -o-linear-gradient(left, #2e2e2e 0%, #4a4a4a 100%);
	background: linear-gradient(to right, #2e2e2e 0%, #4a4a4a 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#4a4a4a',GradientType=1 ); /* IE6-9 */
}

.main {
	padding-top: 40px;
	overflow: hidden;
}

.sidebar {
	width: 241px;
	float: left;
}
.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #c8c8c8;
}
.sidebar ul li {
	padding-left: 22px;
	border-bottom: 1px solid #c8c8c8;
}
.sidebar ul li:last-child {
	border-bottom: none;
}
.sidebar ul li:hover {
	padding-left: 35px;
	background-color: #f9f9f9;
}
.sidebar ul li a {
	color: #656363;
	text-decoration: none;
	font-size: 13.33px;
	line-height: 39px;
}
.content {
	width: 725px;
	margin-left: 0px;
	float: right;
}

.content img {
	display: block;
	width: 500px;
	height: 307px;
	border: 1px solid #c8c8c8;
	padding: 46px 88px 45px 87px;
	margin-left: 48px;
}

.content p {
	font-size: 13.33px;
	margin: 0;
	padding: 33px 0 60px 70px;
	text-align: left;
	line-height: 21px;
	color: black;
}
footer {
	padding-bottom: 63px;
}
footer nav {
	margin: 0;
	padding: 0 0 0 0 ;
	list-style: none;
	background: #e1e1e1;
}

footer nav li {
	display: inline-block;
	padding: 0 33px 0 0;
}
footer nav li:last-child {
	float: right;
	padding: 0;
}
footer nav li a {
	display: block;
	text-decoration: none;
	font-size: 13.33px;
	color: #2c2c2c;
	padding: 0 25px 0 25px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	line-height: 40px;
}
footer nav li:last-child a {
	padding: 0 22px 0 0;
}
footer nav li:last-child a:hover {
	text-decoration: none;
}
footer nav li a:hover {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	text-decoration: underline;
	background: none;
}